input[type="checkbox"] {display: none;}
[id="menuicon"] + label {display:block;margin:30px;width:60px;height:50px;position:relative;cursor:pointer;}
[id="menuicon"] + label span {display:block;position:absolute;width:100%;height:5px;border-radius:30px;background:#000;transition:all .35s;}
[id="menuicon"] + label span:nth-child(1) {top:0;}
[id="menuicon"] + label span:nth-child(2) {top:50%;transform:translateY(-50%);}
[id="menuicon"] + label span:nth-child(3) {bottom:0;}
[id="menuicon"]:checked + label {z-index:10;}
[id="menuicon"]:checked + label span {background:#fff;}
[id="menuicon"]:checked + label span:nth-child(1) {top:50%;transform:translateY(-50%) rotate(45deg);}
[id="menuicon"]:checked + label span:nth-child(2) {opacity:0;}
[id="menuicon"]:checked + label span:nth-child(3) {bottom:50%;transform:translateY(50%) rotate(-45deg);}
[class="sidebar"] {width:200px;height:100%;background:#222;position:fixed;top:0;left:-300px;z-index:5;transition:all .35s;}
input[id="menuicon"]:checked + label + div {left:0;}
div.sidebar {
	overflow: scroll;
}


* {margin:0;padding:0;box-sizing:border-box;}
ul, li {list-style:none;}

#menu {
    list-style-type: none;
    line-height: 70px;
    padding-top: 100px;
}

#menu > .join {
    font-size: 30px;
    padding-left: 10%;
}
a {
    text-decoration: none;
    color:#fff;
    -webkit-tap-highlight-color : transparent;
}


.sidebar > ul > .big_menu {
    position: relative;
    padding: 8px 8px 8px 10%;
    font-size: 20px;
}

.sidebar > ul > .big_menu > .small_menu {
    position: relative;
    /*transform: scaleY(0);*/
    padding: 8px 8px 8px 10%;
    font-size: 15px;
    transition: 0.35s;
}

.sidebar > ul > li:hover > .small_menu {
    /*transform: scaleY(1);
    transition: 0.35s;*/
}